/* .horizontal-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 230px;
}

.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.horizontal-nav li {
    margin-right: 20px;
}

.horizontal-nav li:last-child {
    margin-right: 0;
}

.horizontal-nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.horizontal-nav a:hover {
    color: #555;
} */
.education-overall,
.education {
    overflow: visible;
}

#educationContainer {
    margin-top: 50px;
    padding: 0;
    padding-left: 4%;
}

#educationContainerTop {
    overflow: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 4%;
}

.overflow-auto {
    white-space: nowrap;
    scrollbar-width: none;
}
